@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed&display=swap');

:root {
    --primary-color: #1C1C1E;
    --secondary-color: #E6E6FA;
    --accent-color: rgba(255, 255, 255, 0.1);
    --link-color: #00c6f2;
  }
body {
	font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
	margin: 0;
	padding: 0;
}
h1{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 36px;
    margin-bottom: 7px;
    color: var(--secondary-color);
  }
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}
* {
    box-sizing: border-box;
  }
  
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #333;
  }
  
  nav {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #555;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    display: none;
  }
  
  section:target {
    display: block;
  }
  