@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed&display=swap');
body {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
    font-family: 'Press Start 2P', sans-serif;
	color: #fff;
	text-align: center;
	padding: 1rem;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
}

p.disclaimer {
	font-style: italic;
	color: #999;
	margin-top: 2rem;
}

button {
	background-color: #333;
	color: #fff;
	padding: 1rem 2rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 2rem;
}

button:hover {
	background-color: #555;
}

footer {
	background-color: #ccc;
	padding: 1rem;
	text-align: center;
}

@media screen and (max-width: 600px) {
	main {
		padding: 1rem;
	}
}

