@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #1C1C1E;
    --secondary-color: #E6E6FA;
    --accent-color: rgba(255, 255, 255, 0.1);
    --link-color: #00c6f2;
  }
  html{
    scroll-behavior: smooth;
  }
body{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.register-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 300px;
  }
  .register-form h1 {
    text-align: center;
    color: var(--primary-color);
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 20px;
  }
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--link-color);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .register-form button:hover {
   opacity: .8;
  }

